@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none !important;
    
}
.f-f-poppins{
    font-family: 'Poppins', sans-serif;
}
.gap-61{
    gap: 61px;
}
.cursor-pointer{
    cursor: pointer;
}
.bg-black{
    background-color: black;
}
.font-size-12{
    font-size: 12px;   
}
.font-size-14{
    font-size: 14px;   
}
.font-size-16{
    font-size: 16px;   
}
.font-size-20{
    font-size: 20px;
}
.font-weight-400{
    font-weight: 400;
}
.font-weight-500{
    font-weight: 500;
}
.font-weight-600{
    font-weight: 600;
}
.font-weight-700{
    font-weight:700;
}
.color-blue{
    color: #2C49FE;
}
.bg-blue{
    background-color: #2C49FE;
}
.color-sky{
    color: #01C8FF;
}
.border-none{
    border: none;
}
.pt-55{
    padding-top: 55px;
}
.pb-77{
    padding-bottom: 77px;
}
/* 3rd section */
.bg-gray{
    background: #F1F2F5;
}
.pading{
    padding: 14px 20px 20px 20px ;
}
.border-radius{
    border-radius: 0px 20px 20px 20px;
}
.font-wight-500{
    font-weight: 500;
}
.font-wight-400{
    font-weight:400;
}
.opacity-0-6{
    opacity: 0.6;
}
.pl-5{
    padding-left: 5px;
}    
.gap-20{
    gap: 20px;
}
.font-wight-600{
    font-weight: 600;
}    
.max-w-719{
    max-width: 719px;
}
.pb-47{
    margin-bottom: 47px;
}
.h-70{
    height: 70px;
}
.border-1-solid-grey{
    border: 1px solid #9CA1BE;
    border-radius: 35px;
}
.h-30{
    height: 30px;
}
.w-152{
    width: 152px;
}
.bg-blue{
    background-color: #2C49FE;
}
.pb-47{
    padding-bottom: 47px;
}
input{
    border: none;
    height: 68px;
    width: 100%;
    outline: none;
}
::placeholder{
    font-size: 20px;
    font-weight: 400;
}
.post-comment{    
    height: 56px;
    width: 208px;
    border-radius: 36px;    
    font-size: 20px;
    font-weight: 600;
}
.pl-30{
    padding-left: 30px;
}
.pb-118{
    padding-bottom: 118px;
}
.pt-90{
    padding-top: 90px;
}
.pb-25{
    padding-bottom: 25px;
}
.gap-15{
    gap: 15px;
}
.p-14{
    padding: 14px;
}
.max-w-346{
    max-width: 346px;
}
.pt-36{
    padding-top: 36px;
}
.pb-24{
    padding-bottom: 24px;
}
.gap-73{
    gap: 73px;
}
.pb-40{
    padding-bottom: 40px;
}
.max-w-310{
    max-width: 310px;
}
.h-62{
    height: 62px;
}
.gap-18{
    gap: 9px;
}
.w-90{
    width: 90px;
}
.bg-light-blue{
    background: rgba(45, 60, 174, 0.53);
}
.pt-96{
    padding-top: 96px;
}
@media (max-width:575px){
    .mb-20{
        margin-bottom: 20px;
    }
    .post-comment{
        font-size: 12px;
        padding: 0px 10px;
    }
    .pl-30{
        padding-left: 30px;
    }
    .gap-10{
        gap: 10px;
    }        
    .pb-30{
        padding-bottom: 30px;
    }
    .sm-font-size-25{
        font-size: 25px;
    }
    .sm-font-size-36{
        font-size: 36px;
    }
    .sm-w-70{
        width: 70px;

    }
    .sm-pt-45{
        padding-top: 45px;
    }
    .sm-pt-18{
        padding-top: 18px;
        
    }
    ::placeholder{
        font-size: 12px;
    }
    
    .item1{
        grid-row: 1/2;
        grid-column: 1/2;
    }
    .item2{
        grid-row: 1/2;
        grid-column: 2/3;
    }
    .item3{
        grid-row: 4/5;
        grid-column:1/2 ;
    }
    .item4{
        grid-row: 2/3;
        grid-column: 1/3;
    }
    .item5{
        grid-row: 4/5;
        grid-column: 2/3;
    }
    .item6{
        grid-row: 3/4;
        grid-column: 1/3;
    }
 
}
@media (min-width:576px) {
    .mb-20{
        margin-bottom: 20px;
    }
    .post-comment{
        font-size: 14px;
    }
    .gap-24{
        gap: 24px;
    }
    .font-size-36{
        font-size: 36px;
    }
    .font-size-48{
        font-size:48px;
    }
    .item1{
        grid-row: 1/2;
        grid-column: 1/2;
    }
    .item2{
        grid-row: 1/2;
        grid-column: 2/3;
    }
    .item3{
        grid-row: 4/5;
        grid-column:1/2 ;
    }
    .item4{
        grid-row: 2/3;
        grid-column: 1/3;
    }
    .item5{
        grid-row: 4/5;
        grid-column: 2/3;
    }
    .item6{
        grid-row: 3/4;
        grid-column: 1/3;
    }
}
@media (min-width:768px){
   
    .mb-20{
        margin-bottom: 20px;
    }
     
    .post-comment{
        font-size: 16px;
    } 
    .gap-10{
        gap: 10px;
    }
    .pb-30{
        padding-bottom: 30px;
    }                
    .font-size-36{
        font-size: 36px;
    }
    .font-size-48{
        font-size:48px;
    } 
    .item1{
        grid-row: 1/2;
        grid-column: 1/2;
    }
    .item2{
        grid-row: 1/2;
        grid-column: 2/3;
    }
    .item3{
        grid-row: 4/5;
        grid-column:1/2 ;
    }
    .item4{
        grid-row: 2/3;
        grid-column: 1/3;
    }
    .item5{
        grid-row: 4/5;
        grid-column: 2/3;
    }
    .item6{
        grid-row: 3/4;
        grid-column: 1/3;
    }
}
@media (min-width:992px) {
    .gap-24{
        gap: 24px;
    }
   
    .pt-134{
        padding-top: 134px;
    }
    .font-size-36{
        font-size: 36px;
    }
    .font-size-48{
        font-size:48px;
    } 
    .item1{
        grid-row: 1/2;
        grid-column: 1/2;
    }
    .item2{
        grid-row: 1/2;
        grid-column: 2/3;
    }
    .item3{
        grid-row: 1/3;
        grid-column: 3/4;
    }
    .item4{
        grid-row: 2/3;
        grid-column: 1/3;
    }
    .item5{
        grid-row: 3/4;
        grid-column: 1/2;
    }
    .item6{
        grid-row: 3/4;
        grid-column: 2/4;
    }
}
@media (min-width:1200px) {
    .gap-24{
        gap: 24px;
    }
   
    .pt-134{
        padding-top: 134px;
    }
    .font-size-36{
        font-size: 36px;
    }
    .font-size-48{
        font-size:48px;
    } 
    .item1{
        grid-row: 1/2;
        grid-column: 1/2;
    }
    .item2{
        grid-row: 1/2;
        grid-column: 2/3;
    }
    .item3{
        grid-row: 1/3;
        grid-column: 3/4;
    }
    .item4{
        grid-row: 2/3;
        grid-column: 1/3;
    }
    .item5{
        grid-row: 3/4;
        grid-column: 1/2;
    }
    .item6{
        grid-row: 3/4;
        grid-column: 2/4;
    }
}
@media (min-width:1400px) {
    .pt-134{
        padding-top: 134px;
    }
    .font-size-36{
        font-size: 36px;
    }
    .font-size-48{
        font-size:48px;
    } 
    .item1{
       grid-row: 1/2;
       grid-column: 1/2;
    }
    .item2{
        grid-row: 1/2;
        grid-column: 2/3;
    }
    .item3{
        grid-row: 1/3;
        grid-column: 3/4;
    }
    .item4{
        grid-row: 2/3;
        grid-column: 1/3;
    }
    .item5{
        grid-row: 3/4;
        grid-column: 1/2;
    }
    .item6{
        grid-row: 3/4;
        grid-column: 2/4;
    }
}

